main {
	margin: 2% 11%;
}

.title {
	margin: 2% 0 !important;
}

.refinement-list {
	width: 200px;
	padding: 10px;
}

.list {
	list-style: none;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
}

.container:hover input~.checkmark {
	background-color: #ccc;
}

.container input:checked~.checkmark {
	background-color: #9f8a46;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.container input:checked~.checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 5px;
	top: 1.5px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.column1 {
	float: left;
	width: 20%;
}

.column2 {
	float: left;
	width: 80%;
	padding: 10px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

h3 {
	margin: 2% 0;
}

.page-btn {
	display: flex;
	justify-content: center;
}

.page-btn a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 14px;
	font-size: 15px;
}

.page-btn a:hover {
	background-color: #ddd;
	color: black;
}

.page-btn .previous,
.page-btn .next1 {
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	width: 110px;
	text-align: center;
	margin: 1%;
}

.center {
	text-align: center;
}

.pagination {
	margin-top: 1%;
	display: inline-block;
	text-align: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 12px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin: 0 2px;
	font-size: 14px;
}

.pagination a.active {
	color: #9f8a46;
	font-weight: 600;
}

.pagination a:hover {
	background-color: #ddd;
}