main {
	margin: 2% auto;
}

.faq-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 11%;
}

.hr-line {
	margin: auto;
}

.faq-page {
	color: #444;
	cursor: pointer;
	padding: 20px;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: auto;
}

.faq-body {
	margin: auto;
	padding: auto;
}

.active,
.faq-page:hover {
	background-color: #f9f9f9;
}

.faq-body {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.faq-page:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: '\2796';
}