main{
  margin: 2% 11%;
}
.board{
  display: flex;
  flex-direction: row;
}

.container{
  width: 65px;
  height: 500px;
}

.imgGallery {
  width: 65px;
  height: 65px;
  display: block;
}
.imgcontent{
  width: 1045px;
  height: 500px;
  object-fit: contain;
}
#second, #third {
  display: none
}
.product-name{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1%;
}
.star2{
  margin-bottom: 2%;
}
.cmt2{
  font-size: 16px;
  font-weight: 50;
  display: inline-block;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;

}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 .price{
  font-size: 32px;
}

input[type="number"]{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 20px;
}
