main{
  margin: 2% 11%;
}
.board{
  display: flex;
  flex-direction: row;
}

.container{
  width: 65px;
  height: 500px;
}

.imgGallery {
  width: 65px;
  height: 65px;
  display: block;
}
.imgcontent{
  width: 1045px;
  height: 500px;
  object-fit: contain;
}
#second, #third {
  display: none
}
.product-name{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1%;
}
.star2{
  margin-bottom: 2%;
}
.cmt2{
  font-size: 16px;
  font-weight: 50;
  display: inline-block;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;

}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 .price{
  font-size: 32px;
}

.background{
  background-color: #F4F4F2;
  padding: 3%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}
input[type="number"]{
  width: 45px;
  height: 45px;
  border: none;
  text-align: center;
  font-size: 20px;  
  font-weight: 600;
  outline: none;
  margin: 1% 2%;
}
.qty{
  font-size: 14px;
  font-weight: 600;
}
.button-12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 140px;
  border-radius: 6px;
  border: none;

  background: #9f8a46;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #fefefc;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 22px;
  font-weight: 600;
  margin: 2% auto;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}