main{
  margin: 2% 11%;
}
.board{
  display: flex;
  flex-direction: row;
}

.container{
  width: 65px;
  height: 500px;
}

.imgGallery {
  width: 65px;
  height: 65px;
  display: block;
}
.imgcontent{
  width: 1045px;
  height: 500px;
  object-fit: contain;
}
#second, #third {
  display: none
}
.product-name{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1%;
}
.star2{
  margin-bottom: 2%;
}
.cmt2{
  font-size: 16px;
  font-weight: 50;
  display: inline-block;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;

}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 .price{
  font-size: 32px;
}



.input-number{
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}
  

.input-number-decrement,
.input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  &:active{
    background: #ddd
  }
}

  

.input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
}
  

.input-number-increment{
  border-left: none;
  border-radius: 0 4px 4px 0;
}
  