main {
  margin: 2% 11%;
}

.board {
  display: flex;
  flex-direction: row;
}

.container {
  width: 65px;
  height: 500px;
  border-radius: 5px;
  border: 3px solid ;
}

.imgGallery {
  width: 65px;
  height: 65px;
  display: block;
}

.imgGallery:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.imgcontent {
  width: 1045px;
  height: 500px;
  object-fit: contain;
}

#second,
#third {
  display: none
}

.product-name {
  font-weight: 700;
  font-size: 24px;
  margin: 3% 0 1% 0;
}

.star2 {
  margin-bottom: 3%;
}

.cmt2 {
  font-size: 14px;
  font-weight: 50;
  display: inline-block;
}

.column1 {
  float: left;
  width: 60%;
  padding: 10px;

}

.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 .price {
  font-size: 32px;
}

.background {
  background-color: #F4F4F2;
  padding: 3%;
  border-style: none none inset none;
  border-color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"] {
  width: 45px;
  height: 45px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  margin: 1% 2%;
}

.qty {
  font-size: 14px;
  font-weight: 600;
}

.button-12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 120px;
  border-radius: 6px;
  border: none;

  background: #9f8a46;
  color: #fefefc;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18px;
  font-weight: 600;
  margin: 2% auto;
}

.button-12:focus {
  outline: 0;
}

.button-12:active {
  background-color: #8c7422;
  color: white;
}

table {
  background-color: #FEFEFC;
  width: 100%;
}

th,
td {
  padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}