main{
  margin: 2% 11%;
}
.board{
  display: flex;
  flex-direction: row;
}

.container{
  width: 65px;
  height: 500px;
}

.imgGallery {
  width: 65px;
  height: 65px;
  display: block;
}
.imgcontent{
  width: 1045px;
  height: 500px;
  object-fit: contain;
}
#second, #third {
  display: none
}
.product-name{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1%;
}
.star2{
  margin-bottom: 2%;
}
.cmt2{
  font-size: 16px;
  font-weight: 50;
  display: inline-block;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;

}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 .price{
  font-size: 32px;
}
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}